
<h1 class="title"><%= @poem[:title] %></h1>


<h2 class="subtitle"><%= @poem[:poet] %></h2>

<p>Below are the top ten most similar poems, including their distance to the selected poem.</p>
<p><a href="/">Click here</a> to search for another poem.</p>
<br />
<ul>
<% @relations.each do |entry| %>
	<li>
		<%= @poems.where(:id => entry[:poem1]).or(:id => entry[:poem2]).exclude(:id => @poem[:id]).first[:title]  %></a>
		by <%= @poems.where(:id => entry[:poem1]).or(:id => entry[:poem2]).exclude(:id => @poem[:id]).first[:poet]  %>, <%= entry[:distance] %>, [<a href="<%= @poems.where(:id => entry[:poem1]).or(:id => entry[:poem2]).exclude(:id => @poem[:id]).first[:url] %>">read me</a>]
	</li>
<% end %>
</ul>