

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Your selected poem and recommended poem
      </h1>
    </div>
  </div>
</section>
<section class="hero is-primary is-medium">
  <div class="hero-foot">
  <div class="container">
  <nav class="nav">
 
  <div class="nav-left nav-menu">
    <a class="nav-item" href="#why">
      Why Was This Recommended?
    </a>
    <a class="nav-item" href="/">
      Search For Another Poem
    </a>
  </div>
</nav>
</div>
</div>
</section>

<section class="section">
	<div class="container">

<div class="columns">
	<div class="column">
		<h1 class="title"><%= @poem[:title] %></h1>
		<h2 class="subtitle"><%= @poem[:poet] %></h2>
		<span class="poem1">
		<p><%= @poem_content %></p>
		</span>
	</div>
	<div class="column">
		<a href="/poem/<%= @rec_poem[:id] %>"><h1 class="title"><%= @rec_poem[:title] %></h1></a>
		<h2 class="subtitle"><%= @rec_poem[:poet] %></h2>
		<span class="poem2">
		<p><%= @rec_content %></p>
		</span>
	</div>
</div>

	</div>
</section>

<section class="hero is-primary">
  <div class="hero-body" id="why">
    <div class="container">
      <h1 class="title">
        Why was this poem recommended?
      </h1>
    </div>
  </div>
</section>

<section class="section">
	<div class="container">

	<div class="columns">
	<div class="column">
		<p>
		Currently this poetry engine looks a set of features about the poems and chooses a poem with the most similar set of features. Below you can see the features of each poem. Right now "most similar" is a simple Euclidean distance. Further work includes adding more sophisticated features and determining similarity differently. I talk about the features and similarity metric more on the <a href="../howitworks">about</a> page.
		</p>
		<br />
		<table class="table">
  <thead>
    <tr>
      <th>Feature</th>
      <th><%= @poem[:title] %></th>
      <th><%= @rec_poem[:title] %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>NumLines</th>
      <td><%= @poem[:num_lines] %></td>
      <td><%= @rec_poem[:num_lines] %></td>
    </tr>
    <tr>
      <th>NumWords</th>
      <td><%= @poem[:num_words] %></td>
      <td><%= @rec_poem[:num_words] %></td>
    </tr>
    <tr>
      <th>WidthInChar</th>
      <td><%= '%.2f' % @poem[:width_in_char] %></td>
      <td><%= '%.2f' % @rec_poem[:width_in_char] %></td>
    </tr>
    <tr>
      <th>AvgWordSize</th>
      <td><%= '%.2f' % @poem[:word_size] %></td>
      <td><%= '%.2f' % @rec_poem[:word_size] %></td>
    </tr>
    <tr>
      <th>RepetitionScore</th>
      <td><%= '%.2f' % @poem[:repetition_score] %></td>
      <td><%= '%.2f' % @rec_poem[:repetition_score] %></td>
    </tr>
    <tr>
      <th>ObscurityScore</th>
      <td><%= '%.2f' % @poem[:obscurity_score] %></td>
      <td><%= '%.2f' % @rec_poem[:obscurity_score] %></td>
    </tr>
  </tbody>
</table>
	</div>
	<div class="column">
		<p></p>
	</div>
</div>




	</div>
</section>
